* {
  font-family: monospace;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  overflow-x: hidden !important;
  background: url(../assets/background2014blue2024.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

:root {
  --primary-color: rgb(36, 160, 197);
  --secondary-color: rgb(52, 175, 212);
  --light-color: #f3f3f3;
  --darker-color: #e0e0e0;
  color-scheme: dark;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #313131;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #313131;
  position: fixed;
}

::-webkit-scrollbar-thumb {
  background-color: #1d1d1d;
}

::selection {
  background: var(--primary-color);
}

::-moz-selection {
  background: var(--primary-color);
}

img::selection {
  background: #00000000;
}

img::-moz-selection {
  background: #00000000;
}

header {
  background: rgba(0, 0, 0, 0);
  width: 100%;
  height: 40px;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  white-space: nowrap;
  position: fixed;
}

.moto {
  text-decoration: none;
  color: var(--light-color);
  text-overflow: uppercase;
  font-weight: 700;
  font-size: 2.1em;
  text-transform: uppercase;
}

.navbar a {
  color: var(--light-color);
  text-decoration: none;
  font-size: 1.2em;
  font-weight: 600;
  margin-left: 30px;
  padding: 5px;
  border-radius: 5px;
  transition: 0.2s ease-in;
}

.navbar a:hover {
  background-color: rgba(0, 29, 31, 0.425);
}

section {
  padding: 50px 20px;
}

.color-span {
  color: var(--secondary-color);
}

.main {
  width: 100%;
  min-height: 100vh;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 22rem;
  margin-left: 150px;
}

.main h2 {
  color: var(--light-color);
  font-size: 3.8em;
  font-weight: 700;
  text-align: left;
}

.main h3 {
  color: var(--darker-color);
  font-size: 2.5em;
  font-weight: 500;
  text-align: left;
}

.main h3 span {
  color: var(--primary-color);
}

.main i {
  color: var(--primary-color);
}

.main-btn {
  background-color: var(--primary-color);
  border-radius: 4px;
  border-style: none;
  box-sizing: border-box;
  color: var(--light-color);
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.5;
  margin: 0;
  max-width: none;
  min-height: 44px;
  min-width: 10px;
  outline: none;
  overflow: hidden;
  margin-top: 40px;
  padding: 9px 20px 8px;
  position: relative;
  text-align: center;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  transition: 0.6s ease;
}

.main-btn:hover,
.main-btn:focus {
  opacity: 0.85;
}

.title {
  display: flex;
  justify-content: center;
  color: var(--light-color);
  font-size: 2.2em;
  font-weight: 800;
}

/* About Us Styles */
.about {
  background-color: #222;
}

.desc {
  text-align: center;
  color: var(--light-color);
}

.about-div {
  display: flex;
  align-items: center;
  padding: 3rem 0 5rem 5rem;
}

.about-div img {
  border-radius: 20px;
  width: 250px;
}

.about-div p {
  margin-left: 1em;
  font-size: 1.7em;
}

/* Blacklist Styles */
.blacklist {
  background: rgba(0, 40, 42, 0.178);
  -webkit-box-shadow: 0px 0px 11px 4px rgba(0, 0, 0, 0.14);
  -moz-box-shadow: 0px 0px 11px 4px rgba(0, 0, 0, 0.14);
  box-shadow: 0px 0px 11px 4px rgba(0, 0, 0, 0.14);
  border-radius: 20px;
  padding: 40px;
  color: var(--light-color);
  font-weight: 700;
  text-align: center;
  white-space: nowrap;
}

.main .blacklist h2 {
  text-align: center;
}

.main .blacklist h3 {
  text-align: center;
  margin-bottom: 20px;
}

.blacklist .container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.blacklist ul {
  margin: 10px;
}

.blacklist ul li {
  color: var(--light-color);
  text-align: left;
  font-size: 1.35em;
  padding: 3px;
}

@media (max-width: 840px) {
  .logo {
    display: none;
    margin: 20px;
  }

  .main {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

@media (max-width: 740px) {
  .logo {
    visibility: hidden;
  }
}

@media (max-width: 763px) {
  .blacklist h2 {
    font-size: 1.8em;
  }

  .blacklist h3 {
    font-size: 1.3em;
  }
}

@media (max-width: 600px) {
  .moto {
    font-size: 1.4em;
  }

  .navbar a {
    font-size: 0.9em;
  }
}

@media (max-width: 530px) {
  .moto {
    font-size: 1.2em;
  }

  .navbar a {
    font-size: 0.9em;
    margin-left: 15px;
  }

  .logo {
    width: 15rem;
  }

  .blacklist h2 {
    font-size: 1.6em;
  }

  .blacklist h3 {
    font-size: 1.1em;
  }
}

@media (max-width: 458px) {
  #home {
    display: none;
  }

  .blacklist h2 {
    font-size: 1.4em;
  }

  .blacklist {
    padding: 30px;
  }
  
  .blacklist h3 {
    font-size: 1em;
  }

  .blacklist ul {
    font-size: 0.8rem;
  }
}

@media (max-width: 399px) {
  .moto {
    font-size: 1em;
  }

  .navbar a {
    font-size: 0.8em;
    margin-left: 10px;
  }

  .blacklist h2 {
    font-size: 1.2em;
  }

  .blacklist h3 {
    font-size: 0.9em;
  }
}

@media (max-width: 363px) {
  .blacklist {
    padding: 20px;
  }
}