<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    />
    <link rel="stylesheet" href="/static/css/style.css" />
    <link rel="icon" href="/static/assets/bluewolf.ico" />
    <title>Blacklist</title>
  </head>
  <body>
    <header>
      <a href="/" class="moto">Famail Forizon</a>
      <nav class="navbar">
        <a class="link" href="/">Home</a>
        <a class="link" href="/#about">About</a>
        <a class="link" href="blacklist">Blacklist</a>
      </nav>
    </header>

    <section class="main">
      <div class="blacklist">
      <div>
        <h2>Blacklist</h2>
        <h3>List of blacklisted groups and their IDs</h3>

        <ul>
          {{ range $key, $value := . }}
          <li>{{ $key }}: {{ $value.GroupID }}</li>
          {{ end }}
        </ul>
      </div>
    </section>
  </body>
</html>
