<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    />
    <link rel="stylesheet" href="../static/css/style.css" />
    <link rel="icon" href="../static/assets/whitewolf.ico" />
    <title>Alapha Universe</title>
  </head>
  <body>
    <header>
      <a href="#" class="moto">Famail Forizon</a>
      <nav class="navbar">
        <a class="link" id="home" href="#main">Home</a>
        <a class="link" href="#about">About</a>
        <a class="link" href="blacklist">Blacklist</a>
      </nav>
    </header>

    <section class="main" id="main">
      <div class="info">
        <h2>Alapha <span class="color-span">Universe</span></h2>
        <h3>Our testiment to Family.</h3>
        <a href="#about" class="main-btn">About Us</a>
      </div>
      <img class="logo" src="/static/assets/whitewolf.png" alt="logo" />
    </section>
    <section class="about" id="about">
      <h2 class="title">About&nbsp;<span class="color-span">Us</span></h2>
      <div class="desc">
        <h1>This site is concurrently in development!</h1>
        <p>
          Please check back at a later date for the full operational ability of
          this domain. Thanks!
        </p>
      </div>
      <div class="about-div">
        <img src="/static/assets/armedforcombat.png" alt="armed for combat" />
        <p>
          Alpha Authority is a unique community based around the Roblox Clans &
          Guilds forum community. Created in 2012 as a War Clan, we've been on
          the Bloxy Award nominations, had over 31,000 users in our group player
          base, and had hundreds to join in single events. Although we're a
          sliver of what that was, we are a valiant force to be reckoned with,
          symbolized by the White Wolf: Family, Teamwork, Loyalty, Ferocity,
          Survival.
          <br/>
          <br/>
          It is our philosophy that fun derives true success for each player in
          our clan. Alpha Authority embraces this ideal, allowing our members to
          interact with our soon to be Economy, Housing, Tournaments, Monthly
          Special Events, and partipate in our Wars, Gamenights, Trainings,
          Defenses, Raids, Meme Events, Rallies, Hangouts, and Parties.
        </p>
      </div>
    </section>
  </body>
</html>
